name: report
on:
  workflow_run:
    workflows: [ build ]
    types: [ completed ]

permissions:
  checks: write
  pull-requests: write

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Download Test Report
        uses: dawidd6/action-download-artifact@v14
        with:
          name: junit-test-results
          workflow: ${{ github.event.workflow.id }}
          run_id: ${{ github.event.workflow_run.id }}
      - name: Publish Test Report to PR
        uses: mikepenz/action-junit-report@v6
        if: ${{ github.event.workflow_run.event == 'pull_request' }}
        with:
          commit: ${{github.event.workflow_run.head_sha}}
          report_paths: |
            **/target/surefire-reports/TEST-*.xml
          comment: true
          pr_id: ${{ github.event.workflow_run.pull_requests[0].number }}
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: ${{ github.event.workflow_run.event != 'pull_request' }}
        with:
          commit: ${{github.event.workflow_run.head_sha}}
          report_paths: |
            **/target/surefire-reports/TEST-*.xml
      - name: Add coverage report to PR
        uses: madrapps/jacoco-report@v1.7.2
        if: ${{ github.event.workflow_run.event == 'pull_request' }}
        with:
          paths: |
            **/target/jacoco-report/jacoco.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          min-coverage-overall: 80
          min-coverage-changed-files: 80
          title: Code Coverage
          update-comment: true
          comment-type: both
          pr-number: ${{ github.event.workflow_run.pull_requests[0].number }}
      - name: Add coverage report
        uses: madrapps/jacoco-report@v1.7.2
        if: ${{ github.event.workflow_run.event == 'pull_request' }}
        with:
          paths: |
            **/target/jacoco-report/jacoco.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          min-coverage-overall: 80
          min-coverage-changed-files: 80
          title: Code Coverage
          comment-type: summary
